GITHUB_USERNAME=Hamooshaq
GITHUB_TOKEN=
NEXT_PUBLIC_CONTACT_EMAIL=mohishaaqq@gmail.com
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_RESUME_URL=/resume-mohammad.pdf
NEXT_PUBLIC_FORECASTING_APP_URL=
NEXT_PUBLIC_DEEPFAKE_SPACE_URL=https://huggingface.co/spaces/hamooshaq/deepfake-detection
NEXT_PUBLIC_CROWD_SPACE_URL=
